In [1]:
# 실행 : Shift + Enter, Ctrl + Enter
1 + 1 + 1

3

In [2]:
# enter: 편집모드(edit mode). esc: 명령모드(command mode)
2 + 2

4

In [3]:
# 명령모드 상태에서 'a'를 누르면 현재 셀 위에 새로운 셀 생성
# 'b'를 누르면 현재 셀 아래에 새로운 셀 생성
# 'x'를 누르면 셀 삭제 / 'd'를 2번 누르면 삭제
# 'z'를 누르면 실행 취소
# Ctrl + 's' : 저장

# 명령모드에서 'm'을 누르면 마크다운(설명단) 모드로 변경 (밑이 예시)
# 'y'를 누르면 다시 코드 작성 모드로 변경

코드에 대한 설명을 달 수 있는 부분

In [4]:
# 대입 / 할당(assign) : 변수명 = 값
age = 20
print(age)

20

In [5]:
age1 = 20
age2 = 30
age3 = 40

In [6]:
a = b = c = 10
print(a)
print(b)
print(c)

print('------------------------')

c = 20
print(a)
print(b)
print(c)

print('------------------------')

a, b, c  = 10, 20, 30
print(a)
print(b)
print(c)

del a    # del은 변수를 삭제하는 예약어
print(a)

10
10
10
------------------------
10
10
20
------------------------
10
20
30

NameError: name 'a' is not defined

In [7]:
my_age = '스무살' # 문자열
print(my_age)

스무살

In [8]:
type(my_age)    # 문자열 = str

str

# # 개수에 따른 사이즈 비교

# A
## A
### A
#### A
##### A
###### A
개수가 늘어날 수록 크기가 줄어드는 것을 알 수 있다.

# 데이터 타입
값(데이터)의 종류를 분류한 것

## 데이터 타입 종류
- 숫자형
    - 정수형 (int, integer)
    - 실수형 (double)
- 논리형 (bool, boolean)    -    참 / 거짓
- 문자열 (str, string)    -    글자
- None (리터럴값)    -    '없다.'

# 논리형

In [9]:
b1 = True
b2 = False

In [10]:
print(b1)
print(b2)

True
False

# 다른 타입의 값들을 논리형으로 변환 -> bool(값)
숫자 : 0, 0.0 - False / 문자열 : ' '(빈문자열) - False / None : False
##### 나머지는 다 True가 된다.

In [11]:
print(bool(10))
print(bool(0))
print(bool('abcd'))
print(bool(''))    
print(bool(' '))    #공백도 글자이다.
print(bool(None))

True
False
True
False
True
False

# int(값) -> 정수로 변환
#### 값 : 실수, 논리형

In [12]:
print(int(True))
print(int(False))

1
0

# 비교연산자 -> 결과가 논리형으로 출력

In [13]:
print(3 >= 9)
print(3 == 3)
print(4 != 5)

False
True
True

In [14]:
num = int(input('입력: '))
if num > 5 :
    print('5보다 크다.')
else :
    print('5보다 작거나 같다.')

입력: 5
5보다 작거나 같다.

In [16]:
"a" > 'b'    # 뒤쪽에 나오는 단어가 더 큰 단어이므로 b가 더 큰 값이다. (사전식 배열 순)

False

In [17]:
'abc' < 'abz'

True

# 논리 연산자
#### 피연산자 / 결과가 논리형으로 출력

In [21]:
print(True & False)
print(True and False)
print(True and True)

False
False
True

In [22]:
print(True | False)
print(True or False)

True
True

In [24]:
3 > 2 and (5 > 7)

False

In [27]:
print(False ^ True)    # XOR 연산
print(True ^ True)

True
False

In [28]:
not False

True

In [1]:
num = float(input('입력: '))
'음수' if num < 0 else '양수'    # 조건이 True이면 '음수', False이면 '양수'를 반환

입력: 0

'양수'

# None
#### 값 없음. Null과 동일.

In [31]:
name = None    # 이름이 없다.

In [32]:
print(name)

None

In [36]:
print(bool(name))
name if bool(name) else '이름 없음'    # 이름이 있으면 그 이름을 반환하고, 없으면 '이름 없음'이 반환.
# if 뒤의 조건이 True이면 if 앞의 내용을 반환 / False이면 else 뒤의 내용을 반환.

False

'이름 없음'

# 문자열 (String)

In [37]:
txt = "I'm a boy."
print(txt)

I'm a boy.

In [38]:
txt = 'Hi! \nHow are u Vic? \nEverything happens to me.'
print(txt)

Hi!
How are u Vic?
Everything happens to me.

In [40]:
txt = """Hi!
How are u Vic?
Everthing happens to me."""
print(txt)

Hi!
How are u Vic?
Everthing happens to me.

In [42]:
# 문자열 + 문자열 = 두 문자열을 합친다.
'abc' + 'def'

'abcdef'

In [43]:
name = "Vic"
value = 'Name: ' + name
print(value)

Name: Vic

In [44]:
age = 20
val = 'age: ' + str(age)
print(val)

age: 20

In [45]:
str(True)

'True'

In [49]:
print(str(3.45) + str(20))
print(3.45 + 20)
print(float('3.45') + 10)

3.4520
23.45
13.45

In [51]:
print('she' in 'hello')
print('vic' in 'victoria pedretti')

False
True

In [52]:
address = 'Tarry Town, NY'
'Tarry' in address

True

In [53]:
len(address)

14

### 문자열 indexing, slicing

In [54]:
value = '안녕하세요. 반갑습니다.'
len(value)

13

In [57]:
print(value[1])
print(value[3])
print(value[-5])

녕
세
갑

In [62]:
value = '안녕하세요. 반갑습니다.'

print(value[:4])    # 처음부터 4-1번 index까지 slicing
print(value[::2])    # 처음부터 끝까지 2의 간격으로 slicing
print(value[3:-3])

안녕하세
안하요 갑니.
세요. 반갑습

In [65]:
print(value[-1:-13])    # -1의 자리부터 -13까지 가져오는게 목표였지만, step size(간격)이 default가 +1이기 때문에 아무런 값이 없음을 표시.
print('-' * 10)
print(value[-1:-13:-1])
print(value[-1:-14:-1])

----------
.다니습갑반 .요세하녕
.다니습갑반 .요세하녕안

# 문자열 formatting

In [68]:
myformat = 'Name: {}, Age: {}, Sex: {}'

value1 = myformat.format('Love Quinn', 25, 'Female')
value2 = myformat.format('Will Beitelheim', 34, 'Male')

print(value1)
print(value2)

Name: Love Quinn, Age: 25, Sex: Female
Name: Will Beitelheim, Age: 34, Sex: Male

In [69]:
myformat2 = 'Name: {name}, Age: {age}, Sex: {sex}'
f3 = myformat2.format(name = 'Victoria', age = 25, sex = 'Female')
print(f3)

Name: Victoria, Age: 25, Sex: Female

In [73]:
name = 'Vic'
age = 25
sex = 'Female'

print(f'Name: {name}, Age: {age}, Sex: {sex}')    # f'' : f 접두어, 파이썬 3.6 이상에서 사용

Name: Vic, Age: 25, Sex: Female

In [75]:
print('name: %s, age: %d, percentage: %d%%' % ('Ai', 23, 75))

name: Ai, age: 23, percentage: 75%

In [76]:
# 함수 사용
len('Hello')
# -> len 함수의 경우 몇글자냐?하는 거니깐 세고 싶은 글자만 넣어주면 됨.

5

In [79]:
# 메소드 사용
myformat.format(1, 2, 3)
# -> 이 경우에는 format이라는 애가 처리하는 대상이 myformat이다. 
# -> myformat에다가 1, 2, 3이라는 값을 넣어주기 위해 format함수가 필요한 것
# -> 그렇기 때문에 method는 항상 ~~.~~의 형태로 사용
# 처리해야할 주 대상 : myformat 부분 / 부가적으로 쓰이는 대상 : () 안의 부분

'Name: 1, Age: 2, Sex: 3'

### String 주요 메소드

In [82]:
value = 'apple, orange, watermelon, peach'
result = value.split(', ')
result

['apple', 'orange', 'watermelon', 'peach']

In [87]:
value = 'python Java Ruby'
result = value.split(' ')
res = value.split()    # 구분자의 기본값은 공백
print(result)
print(res)

['python', 'Java', 'Ruby']
['python', 'Java', 'Ruby']

In [90]:
value = '    hi    '
result = value.strip()
print(result)
print(len(value), len(result))

hi
10 2

In [91]:
result = value.rstrip()
print(result)
print(len(result))

    hi
6

In [95]:
customer_id = input('ID: ')

ID:    helloevery

In [96]:
print(len(customer_id))

16

In [97]:
customer_id = customer_id.strip()
print(len(customer_id))

10

In [98]:
value = 'xxibgdragonxx'
result = value.strip('x')
result

'ibgdragon'

In [100]:
value = 'abcdef'
result = value.replace('abc', '가나다')
print(result)
resul2t = value.replace('abc', '')
print(resul2t)

가나다def
def

In [101]:
value = 'a b c d    e f'
result = value.replace(' ', '')
print(result)

abcdef

In [103]:
value = 'abcabcaaabc'
print('전체 글자수: ',len(value))
print('a의 개수: ', value.count('a'))

전체 글자수:  11
a의 개수:  5

In [113]:
value = 'Hi. How are u? How are the weather?'
print(value.index('How'))    # How가 2번나오는데, 처음으로 나오는 부분만 알려줌.
print(value.index('How', 5))    # 5번 index부터 찾아라
print(value.index('?'))
print(value.find('How'))
print(value.find('abc'))    # value에 글자가 없는 경우 -1을 출력
print(value.index('abc'))    # value에 글자가 없는 경우 error 출력

4
15
13
4
-1

ValueError: substring not found

In [125]:
value = 'abcDEFghi'
print(value.upper())
print(value.lower())

file = 'abc.jpg'
print(file.startswith('A'))
print(file.endswith('.jpg'))

value = 'Student'
print(value.lower() == 'student')

ABCDEFGHI
abcdefghi
False
True
True

# 셀을 나누는 키 : Ctrl + Shift + '-'

In [12]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
number = '901211-1027213'
print(number[:6])

l = number.split('-')
print(l)

901211
['901211', '1027213']

In [130]:
#2.  "안녕하세요" 를 10번 출력하시오.
print('안녕하세요 ' * 10)

안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요

In [13]:
#3.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
file_format = '제품명 : {}, 가격 : {}, 제조사 : {}'
print(file_format.format('TV', 300000, 'LG'))

print(f'제품명 : {name}, 가격 : {price}, 제조사 : {maker}')

제품명 : TV, 가격 : 300000, 제조사 : LG
제품명 : TV, 가격 : 300000, 제조사 : LG

In [16]:
#4
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
find = fruits.find('수박')
print('없음' if find == -1 else '있음')

print('수박' in fruits)

없음
False

In [5]:
#5.
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value에 a가 몇개 있는지 출력하시오.
print(str_value.count('a'), '개')

9 개

In [7]:
#6.
# 다음 문자열에서 '-'를 제거 후 출력하세요.
tel = "010-7777-9999"
print(tel.replace('-', ''))

01077779999

In [20]:
#7
# 다음 문자열 "Niceman" 에서 "man" 문자열만 출력하세요.
value = "Niceman"
p = value.find('man')
print(p)
print(value[p:])

4
man

In [21]:
# 8
# 다음 문자열(URL)에서 "http://" 부분을 제거 후 출력하세요. :
url = "http://daum.net"
print(url.replace('http://', ''))

daum.net

# 데이터 형태 변환

In [27]:
print(int('3'))
print(int('300'))
print(int(5))
print(int(3.8))
print(int('3.777'))

3
300
5
3

ValueError: invalid literal for int() with base 10: '3.777'

In [28]:
v = input('숫자: ')    # input함수는 문자열로 반환

숫자: 5

In [31]:
#print(v + 300)
print(int(v) + 300)

305

In [33]:
print(float(5.123),  float(40))

5.123 40.0

In [34]:
v = input('숫자 : ')

숫자 : 5

In [35]:
float(v) + 200

205.0

In [43]:
print(type(str(10)))
print(str(1000))
print(str(10) + '개')
print(str(True))    #'True'라는 str로 변환

<class 'str'>
1000
10개
True

주석 단축키 : Ctrl + /