# List
- 순서가 있는 자료구조
    - 순서: index로 원소들이 관리된다. 추가한 순서대로 저장되어 관리된다.

In [37]:
# 생성 [v, v, v, v]
list1 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list2 = ['Jackson', 'Will', 'Sam']

In [38]:
print(list1)
print(list2)
print(list2[0])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
['Jackson', 'Will', 'Sam']
Jackson

In [39]:
list3 = [100, 2.5, None, 'abc', True, False, 100]
print(list3)

[100, 2.5, None, 'abc', True, False, 100]

In [40]:
# Dictionary Example
A_info = {'Name': 'Gil-Dong', 'Age': 20, 'Place': 'Seoul', 'Height': 178.6, 'Weight': 70.5, 'job': 'Worker', 'marry': False}
A_info['marry']

False

## Indexing / Slicing

In [41]:
print(list1)
print(list1[0])
print(list1[5])
print(list1[-3])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
0
5
8

In [42]:
list1[0] = 100
print(list1)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
list1[-1] = 300
print(list1)

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9, 300]

In [44]:
# 원소의 개수 - len()
len(list1)

11

In [45]:
print(list1[1:8])
print(list1[:5])
print(list1[5:])
print(list1[1:8:3])

print('-' * 30)

print(list1[-1:])
print(list1[-1:1])
print(list1[-1:1:-1])

[1, 2, 3, 4, 5, 6, 7]
[100, 1, 2, 3, 4]
[5, 6, 7, 8, 9, 300]
[1, 4, 7]
------------------------------
[300]
[]
[300, 9, 8, 7, 6, 5, 4, 3, 2]

In [46]:
# slicing으로 원소를 변경하는 경우에는 list의 형태로 값을 대입해야한다.
list1[0:3] = [100, 200, 300]
print(list1)

[100, 200, 300, 3, 4, 5, 6, 7, 8, 9, 300]

In [47]:
list1[0:3] = [0, 0, 0, 0, 0, 0]
print(list1)

[0, 0, 0, 0, 0, 0, 3, 4, 5, 6, 7, 8, 9, 300]

In [48]:
list1[0:9] = [0, 1, 2]
print(list1)

[0, 1, 2, 6, 7, 8, 9, 300]

In [49]:
list1[0:5:2] = [1000, 1000, 1000]
print(list1)

[1000, 1, 1000, 6, 1000, 8, 9, 300]

In [50]:
# deleting

list1[:5] = []
print(list1)

del list1[0]    # indexing을 통한 삭제 시에는 del 이용
print(list1)

[8, 9, 300]
[9, 300]

In [51]:
# 리스트 안에 리스트를 원소로 추가

In [52]:
list3 = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [54]:
print(list3[0])
print(list3[1][2])

[1, 2, 3]
6

In [1]:
# 리스트 + 리스트 = 두 리스트를 합친 새로운 리스트 생성
num_list1 = [1, 2, 3]
num_list2 = [4, 5, 6]
result = num_list1 + num_list2
result

[1, 2, 3, 4, 5, 6]

In [3]:
# 리스트 * 정수 = 리스트가 가진 원소들을 정수만큼 반복해서 새로운 리스트를 생성
result = num_list1 * 3
result

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [4]:
v1, v2, v3 = [10, 20, 30]
print(v1)
print(v2)
print(v3)

10
20
30

In [6]:
a, b, c = num_list1
print(a, b, c)

1 2 3

In [12]:
c_list = ['Seoul', 'Busan', 'Jeju', 'Daegu']
print('Seoul' in c_list)
print('Ulsan' not in c_list)

True
True

### 주요 메소드

In [13]:
c_list.append('New York')    # New York을 맨 마지막에 추가
print(c_list)

['Seoul', 'Busan', 'Jeju', 'Daegu', 'New York']

In [14]:
a_list = c_list + ['New Jersey', 'LA', 'Chicago']
a_list

['Seoul', 'Busan', 'Jeju', 'Daegu', 'New York', 'New Jersey', 'LA', 'Chicago']

In [15]:
c_list.extend(['New Jersey', 'LA'])
c_list

['Seoul', 'Busan', 'Jeju', 'Daegu', 'New York', 'New Jersey', 'LA']

In [19]:
print(sorted(c_list))    # sorted(): 라이브러리 내장 함수 / 정렬한 새 리스트를 반환
print(c_list)

['Busan', 'Daegu', 'Jeju', 'LA', 'New Jersey', 'New York', 'Seoul']
['Seoul', 'Busan', 'Jeju', 'Daegu', 'New York', 'New Jersey', 'LA']

In [21]:
c_list.sort()    # 원본 자체를 정렬
print(c_list)

['Busan', 'Daegu', 'Jeju', 'LA', 'New Jersey', 'New York', 'Seoul']

In [23]:
c_list.sort(reverse = True)    # 내림차순을 정렬
print(c_list)

['Seoul', 'New York', 'New Jersey', 'LA', 'Jeju', 'Daegu', 'Busan']

In [24]:
c_list.insert(0, 'London')
print(c_list)

['London', 'Seoul', 'New York', 'New Jersey', 'LA', 'Jeju', 'Daegu', 'Busan']

In [25]:
c_list.insert(2, 'Paris')
print(c_list)

['London', 'Seoul', 'Paris', 'New York', 'New Jersey', 'LA', 'Jeju', 'Daegu', 'Busan']

In [26]:
c_list.remove('Daegu')
print(c_list)

['London', 'Seoul', 'Paris', 'New York', 'New Jersey', 'LA', 'Jeju', 'Busan']

In [27]:
if 'New York' in c_list:
    print('You are the New Yorker now.')
else :
    print('F*** U man')

You are the New Yorker now.

In [28]:
print('Hi' if 'New York' in c_list else ' Bye')

Hi

In [29]:
v = c_list.pop()    # 맨 마지막에 있는 원소를 뽑아낸다.
print(v)
print(c_list)

Busan
['London', 'Seoul', 'Paris', 'New York', 'New Jersey', 'LA', 'Jeju']

In [30]:
x = c_list.pop(0)    # 0번째 원소를 뽑아낸다.
print(x)
print(c_list)

London
['Seoul', 'Paris', 'New York', 'New Jersey', 'LA', 'Jeju']

In [31]:
c_list.count('New York')

1

In [34]:
c_list.clear()
print(c_list)
print(len(c_list))

[]
0

# Tuple

In [38]:
t = 10, 20, 30
p = (1, 2, 3)
print(type(t))
print(type(p))

<class 'tuple'>
<class 'tuple'>

In [40]:
# 튜플 대입
v1, v2, v3 = 1, 2, 3    # 1, 2, 3 자체가 튜플이다.

In [41]:
t3 = (1)
print(type(t3))

<class 'int'>

In [42]:
t4 = (1,)
print(type(t4))

<class 'tuple'>

In [43]:
l = ('a', 'b', 'c')
t5 = tuple(l)
t5

('a', 'b', 'c')

In [44]:
l

('a', 'b', 'c')

In [46]:
t6 = (1, 2, 3)
l6 = list(t6)
l6

[1, 2, 3]

### 튜플에서 indexing과 slicing을 사용할 때는 조회만 가능하다.

### 리스트와 같이 +, * 로 합치고 반복하는 건 가능하다.

In [47]:
t1 = 0, 1, 2, 3, 4, 5, 6, 7, 8, 9
t1[0]

0

In [48]:
t1[-1]

9

In [49]:
t1[1:7]

(1, 2, 3, 4, 5, 6)

In [51]:
t1[::3]

(0, 3, 6, 9)

In [52]:
t2 = 100, 200, 300

In [53]:
t1 + t2

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 100, 200, 300)

In [54]:
t2 * 3

(100, 200, 300, 100, 200, 300, 100, 200, 300)

In [55]:
t1

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [56]:
t2

(100, 200, 300)

In [57]:
t4 = t2 * 5
t4.count(100)

5

In [58]:
t4.index(100)

0

# Dictionary
- key - value 쌍으로 값들을 모아서 관리
- key 값은 중복을 허용하지 않는다. (이미 있는 key값으로 추가하면 value값을 변경하는 것이라 인지)
- value 값은 중복을 허용한다.

In [77]:
d1 = {'참외': 10, '수박': 20, '귤': 50}
d2 = {'Name': 'Vici', 'Age': 25, 'Address': 'NY'}

In [78]:
# 조회 : Indexer []
print(d1['참외'], '개')
print(d2['Name'])

10 개
Vici

In [79]:
print(d2['Height'])

KeyError: 'Height'

In [80]:
d2['Height'] = 163
print(d2['Height'])

163

In [81]:
d2['Name'] = 'Max'
print(d2['Name'])

Max

In [82]:
len(d2)

4

In [83]:
'Max' in d2

False

In [84]:
'Name' in d2
# in / not in 같은 경우에는, Key값에 대해 묻는 것이다.

True

### 주요 메소드

In [85]:
num = d1['참외']
num

10

In [86]:
d1

{'참외': 10, '수박': 20, '귤': 50}

In [87]:
num1 = d1.pop('참외')    # pop연산은 삭제하면서 조회해줌
num1

10

In [88]:
d1

{'수박': 20, '귤': 50}

In [89]:
d1.pop('peach')

KeyError: 'peach'

In [92]:
del d1['수박']

In [93]:
d1

{'귤': 50}

In [95]:
del d1['peach']    # 조회하면서 지우는 것이므로 error 발생

KeyError: 'peach'

In [98]:
print(d2.get('Age'))
print(d2.get('Sex'))    # 없는 키로 조회하면 None을 반환

25
None

In [102]:
print(d2)
print(d2.get('Sex', 'Male'))    # 없는 키를 원했기 때문에 기본값으로 설정해준 'Male'을 출력
print(d2.get('Name', 'No Name'))

{'Name': 'Max', 'Age': 25, 'Address': 'NY', 'Height': 163}
Male
Max

In [103]:
# dict() : 딕셔너리를 생성하는 함수
# dict(key = value, key = value, key = value)
# key 값은 문자열이 아니라 변수 형태로 넣는 것

In [104]:
d3 = dict(귤 = 10, 사과 = 20, 배 = 30)
d3

{'귤': 10, '사과': 20, '배': 30}

In [105]:
d3['귤']

10

## Set (집합)

In [3]:
s1 = {1, 2, 3}
s1

{1, 2, 3}

In [4]:
s2 = {10, 5, 20, 7}    # 내부적으로 정렬이 되어 저장된다. -> 순서가 중요하지 않은 자료구조
s2

{5, 7, 10, 20}

In [5]:
s3 = {1, 1, 1, 3, 3, 4, 3, 4, 4, 4}    # 중복을 허용하지 않는다.
s3

{1, 3, 4}

In [6]:
s3[0]    # 순서가 존재하지 않으므로, indexer가 존재하지 않는다. -> indexing, slicing이 불가
# 하나씩 조회가 안된다!!

TypeError: 'set' object does not support indexing

In [7]:
l = [1, 1, 2, 2, 3, 3, 3]
l

[1, 1, 2, 2, 3, 3, 3]

In [8]:
s4 = set(l)
s4

{1, 2, 3}

In [9]:
l2 = list(s4)
l2

[1, 2, 3]

In [10]:
set((2,2,2,3,3))

{2, 3}

In [11]:
d3

NameError: name 'd3' is not defined

In [12]:
set(d3)

NameError: name 'd3' is not defined

In [14]:
# 값을 추가
s1.add(10)

In [15]:
s1

{1, 2, 3, 10}

In [18]:
s1.add(-10)
# 어디 한쪽 위치에 추가되는 게 아니라, 오름차순 순서대로 추가되는 것
# 중복된 값은 추가가 안된다.

In [19]:
s1

{-10, 1, 2, 3, 10}

In [20]:
l = [100, 200, 300, 10, 10, 100]

In [21]:
s1.update(l)
s1
# 한 번에 여러개를 추가하려면 이렇게 update를 사용하면 가능

{-10, 1, 2, 3, 10, 100, 200, 300}

In [22]:
s1.remove(100)
s1

{-10, 1, 2, 3, 10, 200, 300}

In [23]:
s1.remove(10000)
s1
# 지웠더니 key error가 나면, 없는 값을 지우려 했구나! 생각하면 됨.

KeyError: 10000

In [24]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [27]:
# 합집합
s3 = s1 | s2
s3

{1, 2, 3, 4, 5}

In [28]:
# 합집합
s4 = s1.union(s2)
s4

{1, 2, 3, 4, 5}

In [29]:
# 교집합
s5 = s1 & s2
s5

{3}

In [30]:
# 교집합
s6 = s1.intersection(s2)
s6

{3}

In [31]:
# 차집합
s7 = s1 - s2
print(s7)
s7 = s2 - s1
print(s7)

{1, 2}
{4, 5}

In [32]:
# 차집합
s8 = s1.difference(s2)
s8

{1, 2}

### 자료구조 변환함수
- list(타입을 변경할 자료구조): 리스트로 변환
- tuple(타입을 변경할 자료구조): 튜플로 변환
- set(타입을 변경할 자료구조): 셋으로 변환
- 변경할 자료구조가 딕셔너리인 경우, key값을 원소로 갖는다. (value 값은 사라진다.)
- 딕셔너리로 변환하는 함수는 없다.

In [33]:
list({1, 2, 3, 4})

[1, 2, 3, 4]

In [34]:
tuple([1, 2, 3, 4, 5])

(1, 2, 3, 4, 5)

In [35]:
tuple({'a':1, 'b':2})

('a', 'b')

In [36]:
set([1, 2, 2, 2, 3, 3])

{1, 2, 3}

In [37]:
dict(name = 'max', age = 20)

{'name': 'max', 'age': 20}

In [39]:
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제1 ~ 7)
#(1)  7번의 점수를 출력하세요
print(jumsu[6])

80

In [40]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
print(jumsu[0:5])

[100, 90, 100, 80, 70]

In [42]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
print(jumsu[3:7])

[80, 70, 100, 80]

In [44]:
#(4) 짝수번째 점수를 출력하세요.
print(jumsu[1::2])

[90, 80, 100, 90, 85]

In [45]:
#(5) 홀수번째 점수를 출력하세요.
print(jumsu[::2])

[100, 100, 70, 80, 95]

In [46]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [47]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
print(set(jumsu))

{100, 70, 80, 20, 85, 90}

In [48]:
#(8) 다음 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.
fruits = ["복숭아", "수박", "딸기"]
new_fruits = ["사과", "귤"]
fruits.extend(new_fruits)
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [65]:
#(9)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성.
# 취미는 2개 이상의 값을 넣는다..
hobby = '영화','노래'
me = {'이름': '김태균', '나이': 27, 'email주소':'teqn99@gmail.com', '취미': hobby, '결혼유무':'no'}
me

{'이름': '김태균',
 '나이': 27,
 'email주소': 'teqn99@gmail.com',
 '취미': ('영화', '노래'),
 '결혼유무': 'no'}

In [66]:
#(10) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
me['email주소']

'teqn99@gmail.com'

In [67]:
#(11) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
me['취미'][1]

'노래'

In [69]:
#(12) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
me.update(몸무게 = 9999, 키 = 9999)
me

{'이름': '김태균',
 '나이': 27,
 'email주소': 'teqn99@gmail.com',
 '취미': ('영화', '노래'),
 '결혼유무': 'no',
 '몸무게': 9999,
 '키': 9999}