In [1]:
bool([]), bool({})

(False, False)

In [4]:
num = 0    # 만약에 num이 0이면, "0 입니다."로 출력 / 아니면, 아무것도 출력 안함.
if num == 0:
# if문에서 조건 부분은 bool 연산이 아닌 연산도 bool 연산으로 인식하여 처리 (결과가 True / False 이기 때문)
    print('0 입니다.')
else:
    print('x')

0 입니다.

In [7]:
num = 10
print(bool(num))
print(not num)

True
False

In [17]:
num = -10    # num > 0 : 양수 / num = 0 : 0 / num < 0 : 음수
if num > 0 :
    print('양수')
elif num == 0 :
    print('0')
elif num < 0 :
    print('음수')

음수

In [29]:
# 서울 : 서울 특별시 / 인천, 부산, 대구, 울산, 광주, 대전 : xx 광역시 / 나머지 : 일반시
city = str(input('도시명: ')).strip()
    
if city == '서울' :
    #print(city + '특별시')
    print(f'{city}특별시')
elif city in ['인천', '부산', '대구', '울산', '광주', '대전'] :
    #print(city + '광역시')
    print(f'{city}광역시')
else :
    #print(city + '시')
    print(f'{city}시')

도시명: 뉴저지
뉴저지시

# 반복문
- while 문 
    - 조건이 True인 동안 반복
- for in 문
    - 자료구조(리스트, 튜플, 셋, 딕셔너리)의 원소들을 하나씩 모두 조회할때 사용 (literable 타입)

## While 문

In [34]:
cnt = 0 
while cnt < 10:    # 조건식
    print(cnt)
    cnt = cnt + 1    # 증감식

0
1
2
3
4
5
6
7
8
9

In [36]:
cnt = 1
while cnt <= 100:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [37]:
cnt = 1
flag = True
while flag:
    if cnt % 5 == 0:
        print(cnt)
    cnt += 1
    if cnt > 100:
        flag = False

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

# for in 문
- for 변수 in iterable:
-     반복할 구문

In [39]:
fruits = ['apple', 'peer', 'peach', 'melon', 'orange']
index = 0

while index < len(fruits):
    print(fruits[index])
    index += 1

apple
peer
peach
melon
orange

In [41]:
for fruit in fruits :
    print(fruit)

apple
peer
peach
melon
orange

In [42]:
for num in (1, 2, 4, 4, 3, 5):
    print(num)

1
2
4
4
3
5

In [44]:
for num in {1, 2, 4, 4, 3, 5}:
    print(num)

1
2
3
4
5

In [49]:
d = {
    'a' : 10,
    'b' : 20,
    'c' : 30,
}
for key in d :    # 딕셔너리는 key값을 반환한다.
    print(key)

a
b
c

In [50]:
for key in d :
    print(d[key])    # value 값을 반환하려면 이렇게

10
20
30

In [51]:
d.values(), d.keys(), d.items()

(dict_values([10, 20, 30]),
 dict_keys(['a', 'b', 'c']),
 dict_items([('a', 10), ('b', 20), ('c', 30)]))

In [53]:
for v in d.values():
    print(v)

10
20
30

In [57]:
for v in d.items():
    print(v)

print('-' * 30)
    
for v in d.items():
    print(v[0])
    
print('-' * 30)
    
for v in d.items():
    if v[0] == 'b':
        print(v[0])

('a', 10)
('b', 20)
('c', 30)
------------------------------
a
b
c
------------------------------
b

In [59]:
for key, value in d.items():    # d.items()의 값이 (key, value)의 형태로 갖기때문에 for 다음에 두개의 변수를 설정가능하다.
    if key == 'b':
        print(value)

20

In [61]:
lst = [
    [1, 2, 3],
    [10,20,30],
    [100, 200, 300]
]

In [62]:
for v1, v2, v3 in lst:
    print(v1, v2, v3, sep = '-')

1-2-3
10-20-30
100-200-300

In [63]:
for l in lst:
    for v in l:
        print(v)

1
2
3
10
20
30
100
200
300

In [65]:
for s in '가나다라마바사abc':
    print(s, end = ',')

가,나,다,라,마,바,사,a,b,c,

In [67]:
print('a', 'b', 20, sep = '-', end = '/')    # sep 생략 = 공백, end 생략 = 엔터

a-b-20/

In [69]:
cnt = 1
while True:
    if cnt % 5 == 0 :
        print(cnt)
    cnt += 1
    if cnt > 100 :
        break    # 반복문을 끝내라

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [75]:
cnt = 1
while cnt <= 100:
    if cnt % 5 != 0:
        cnt += 1
        continue    # 5의 배수가 아니면, 밑부분을 실행하지 않고 다시 while 부분으로 돌아감. -> 반복을 통해 5의 배수만 출력
    print(cnt)
    cnt += 1

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [1]:
while True:
    a = input('입력: ')
    print(a)
    if a == '끝':
        break

입력: hi
hi
입력: no more than now
no more than now
입력: I don't wanna say good-bye
I don't wanna say good-bye
입력: 끝
끝

## for in문 내장함수
- range()
- enumerate()
- zip()

### range([시작정수], 종료정수, [증감정수]) - [ ] 생략가능

In [4]:
# range(1, 10, 2)    1, 3, 5, 7, 9
for i in range(1, 10, 2):
    print(i, end = ' ')

1 3 5 7 9

In [5]:
lst = list(range(1, 11))
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
tu = tuple(range(11))    # 11 = 종료정수 (11 - 1까지)
tu

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [8]:
s = set(range(10))
s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
# 증감치가 음수인경우는 시작값 > 종료값 이어야 한다.
list(range(10, -10, -1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [11]:
# 안녕 10번 반복
for _ in range(10):    # 변수 '_' : 반복문 내에서 _를 통해 나오는 값은 따로 사용하지 않겠다.
    print(_, '안녕')

0 안녕
1 안녕
2 안녕
3 안녕
4 안녕
5 안녕
6 안녕
7 안녕
8 안녕
9 안녕

### enumerate( iterable [, start = 시작값]) [ ] : 생략가능 (iterable : 반복 횟수)

In [13]:
str_list = ['a', 'b', 'c', 'd', 'e']
for s in enumerate(str_list):
    print(s)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [17]:
for idx, s in enumerate(str_list):
    print(idx,'and', s)
    if idx == 3:
        print('this is fourth term.')

0 and a
1 and b
2 and c
3 and d
this is fourth term.
4 and e

In [18]:
for idx, s in enumerate(str_list, start = 1):
    print(idx,s)

1 a
2 b
3 c
4 d
5 e

## zip(iterable, iterable [, ....])

In [36]:
a = [1, 2, 3]
b = [10, 20, 30]
c = 100, 200, 300, 400, 500
d = {'가', '나', '다'}

In [37]:
# zip으로 집합들을 묶어주면, 한번 iteration을 진행하면서 같은 index에 있는 값들을 하나로 묶어줌.
for v in zip(a, b, c, d):
    print(v)

(1, 10, 100, '가')
(2, 20, 200, '다')
(3, 30, 300, '나')

In [27]:
names = ['Brown', "max", 'beebee']
ages = [10, 20, 30]
talls = [120, 150, 190]

In [28]:
for info in zip(names, ages, talls):
    print(info)

('Brown', 10, 120)
('max', 20, 150)
('beebee', 30, 190)

In [29]:
for name, age, tall in zip(names, ages, talls):
    print(name, age, tall)

Brown 10 120
max 20 150
beebee 30 190

# 컴프리헨션 (Comprehension)

In [40]:
lst = [1, 2, 3, 4, 5]
# lst의 값들에 10을 더한 값들을 원소로 갖는 리스트를 생성

In [45]:
lst2 = []
for num in lst:
    lst2.append(num + 10)
print(lst2)

[11, 12, 13, 14, 15]

In [46]:
result = [num for num in lst]
result

[1, 2, 3, 4, 5]

In [49]:
result2 = [num + 10 for num in result]    # 리스트를 만들었으니깐, 리스트 컴프리헨션
result2

[11, 12, 13, 14, 15]

In [51]:
result3 = {num + 10 for num in lst}    # set comprehension (python3)
result3, type(result3)

({11, 12, 13, 14, 15}, set)

In [56]:
result4 = {num:'가' for num in lst}    # (key: value, key: value) / dictionary comprehension (python3)
result4, type(result4)

({1: '가', 2: '가', 3: '가', 4: '가', 5: '가'}, dict)

In [57]:
dic = {idx: num for idx, num in enumerate(lst2)}
dic

{0: 11, 1: 12, 2: 13, 3: 14, 4: 15}

In [60]:
num_list = list(range(100))

In [63]:
# num_list의 원소들 중에 10의 배수만 가지는 리스트를 생성
result = []
for num in num_list:
    if num % 10 == 0:
        print(num, end = ' ')
        result.append(num)

0 10 20 30 40 50 60 70 80 90

In [64]:
result

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [65]:
result2 = [num for num in num_list if (num % 10 == 0)]
result2

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [66]:
# [변수 for 변수 in iterable [for in 또는 if문] [for in 또는 if문] [for in 또는 if문]]

Object `건가요` not found.

In [118]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

jumsu = int(input('점수: '))
if jumsu >= 91:
    print('A학점')
elif jumsu >= 81 and jumsu <= 90:
    print('B학점')
elif jumsu >= 71 and jumsu <= 80:
    print('C학점')
elif jumsu >= 61 and jumsu <= 70:
    print('D학점')
else:
    print('F학점')

점수: 99
A학점

In [119]:
#(2) 아래 리스트의 평균을 구하시오.
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

ave = 0
for num in jumsu:
    ave = ave + num
    
ave /= len(jumsu)
ave

89.0

In [120]:
#(3) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for idx, num in enumerate(jumsu):
    if num >= ave:
        #print(idx, 'pass', sep = '-')
        print(f'{idx}-pass')
    else:
        #print(idx, 'fail', sep = '-')
        print(f'{idx}-fail')

0-pass
1-pass
2-pass
3-fail
4-fail
5-pass
6-fail
7-pass
8-pass
9-fail

In [110]:
#(4) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]

maxi = 0
for num in jumsu:
    if num > maxi:
        maxi = num
        
print(maxi)

95

In [82]:
#(5) 다음 리스트 중에서 '정' 글자를 제외하고 출력하세요.
str_list = ["갑", "을", "병", "정"]

for cha in str_list:
    if cha == '정':
        continue
    print(cha, end = ' ')

갑 을 병

In [122]:
#(6) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오.
# ex) 단을 입력하시오 : 2
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

dan = int(input('단을 입력하시오 :'))
for i in range(1, 10):
    #print(dan, 'x', i, '=', dan * i)
    print(f'{dan} x {i} = {dan * i}')
    print('%d x %d = %d' % (dan, i, dan * i))

단을 입력하시오 :5
5 x 1 = 5
5 x 1 = 5
5 x 2 = 10
5 x 2 = 10
5 x 3 = 15
5 x 3 = 15
5 x 4 = 20
5 x 4 = 20
5 x 5 = 25
5 x 5 = 25
5 x 6 = 30
5 x 6 = 30
5 x 7 = 35
5 x 7 = 35
5 x 8 = 40
5 x 8 = 40
5 x 9 = 45
5 x 9 = 45

In [128]:
# 구구단표

for num in range(1,10):
    for dan in range(2,10):
        print(f'{dan} * {num} = {num * dan}', end = '\t')   # 엔터 : \n , 탭 : \t
    print()

2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	5 * 1 = 5	6 * 1 = 6	7 * 1 = 7	8 * 1 = 8	9 * 1 = 9
2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	5 * 2 = 10	6 * 2 = 12	7 * 2 = 14	8 * 2 = 16	9 * 2 = 18
2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	5 * 3 = 15	6 * 3 = 18	7 * 3 = 21	8 * 3 = 24	9 * 3 = 27
2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	5 * 4 = 20	6 * 4 = 24	7 * 4 = 28	8 * 4 = 32	9 * 4 = 36
2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	5 * 5 = 25	6 * 5 = 30	7 * 5 = 35	8 * 5 = 40	9 * 5 = 45
2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	5 * 6 = 30	6 * 6 = 36	7 * 6 = 42	8 * 6 = 48	9 * 6 = 54
2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	5 * 7 = 35	6 * 7 = 42	7 * 7 = 49	8 * 7 = 56	9 * 7 = 63
2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	5 * 8 = 40	6 * 8 = 48	7 * 8 = 56	8 * 8 = 64	9 * 8 = 72
2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	5 * 9 = 45	6 * 9 = 54	7 * 9 = 63	8 * 9 = 72	9 * 9 = 81

In [85]:
#컴프리헨션
#(7) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

new_lst = [num * 2 for num in lst]
new_lst

[20, 60, 140, 10, 240, 1400, 2, 70]

In [90]:
#(8) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]

new_tu = [(num, num * 10) for num in lst]
print(new_tu)

[(10, 100), (30, 300), (70, 700), (5, 50), (5, 50), (120, 1200), (700, 7000), (1, 10), (35, 350), (35, 350)]

In [129]:
#(9) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]

new_lst2 = [num for num in lst2 if (num % 3 == 0)]    # filtering ( 조건으로 걸러내는 것 )
new_lst2

[3, 33, 21, 33, 60, 120]

In [130]:
#(10) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

file = [txt for txt in file_name if (txt.endswith('.exe'))]
file

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [131]:
#(11) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

file = [txt for txt in file_name if (len(txt) >= 10)]
file

['mystroy.txt', 'jupyter.bat', 'function.exe']

In [155]:

1. 예측할 숫자 생성
2. 사용자로부터 숫자 입력 받기
3. 입력받은 숫자와 예측 숫자를 비교

SyntaxError: invalid syntax (<ipython-input-155-60a6aab19d44>, line 1)

In [2]:
import random
num = random.randint(1, 100)    # 1 ~ 100(포함) 사이의 정수를 실행시마다 랜덤하게 반환

def guess():
    ans = int(input('1 ~ 100 중 값을 입력해보세요: '))
    n = 0

    while True:
        n += 1
        if ans > num:
            print(f'\n[{n}번째 시도]', '-' * 30)
            print('더 작은 값을 생각하세요.')
            ans = int(input('새 값을 입력해보세요: '))
        elif ans < num:
            print(f'\n[{n}번째 시도]', '-' * 30)
            print('더 큰 값을 생각하세요.')
            ans = int(input('새 값을 입력해보세요: '))
        elif ans == num:
            print(f'\n[{n}번째 시도]', '-' * 30)
            print('정답입니다.')
            break

In [157]:
num = random.randint(1, 100)    # 1 ~ 100(포함) 사이의 정수를 실행시마다 랜덤하게 반환
n = 0
maxi = 10

for n in range(1, maxi):
    print(f'\n[{n}번째 시도]', '-' * 30)
    ans = int(input('1 ~ 100 중 값을 입력해보세요: '))
    if ans > num:
        print('더 작은 값을 생각하세요.')
    elif ans < num:
        print('더 큰 값을 생각하세요.')
    elif ans == num:
        print('정답입니다.')
        break
        
    if n == 9:
        print('\nGame Over')

[1번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 50
더 작은 값을 생각하세요.

[2번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 30
더 큰 값을 생각하세요.

[3번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 40
더 작은 값을 생각하세요.

[4번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 40
더 작은 값을 생각하세요.

[5번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 20
더 큰 값을 생각하세요.

[6번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 34
더 작은 값을 생각하세요.

[7번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 30
더 큰 값을 생각하세요.

[8번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 32
더 작은 값을 생각하세요.

[9번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 31
정답입니다.

In [3]:
guess()

1 ~ 100 중 값을 입력해보세요: 50

[1번째 시도] ------------------------------
정답입니다.

In [156]:
num = random.randint(1, 100)    # 1 ~ 100(포함) 사이의 정수를 실행시마다 랜덤하게 반환
print('Up & Down Game 😝')

n = 0
while True:
    n += 1
    print(f'\n[{n}번째 시도]', '-' * 30)
    ans = int(input('1 ~ 100 중 값을 입력해보세요: '))
    if ans > num:
        print('더 작은 값을 생각하세요.')
    elif ans < num:
        print('더 큰 값을 생각하세요.')
    elif ans == num:
        print('정답입니다.')
        print('-' * 41, '\nYou Win🎉🎉🎉')
        break

Up & Down Game 😝

[1번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 50
더 작은 값을 생각하세요.

[2번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 20
더 큰 값을 생각하세요.

[3번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 35
더 작은 값을 생각하세요.

[4번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 30
더 큰 값을 생각하세요.

[5번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 33
더 큰 값을 생각하세요.

[6번째 시도] ------------------------------
1 ~ 100 중 값을 입력해보세요: 34
정답입니다.
-----------------------------------------
You Win🎉🎉🎉